extends ce_layout

block content
    div(class="home-panel")
        div(class="layer layer_bg")
            div(class="ui container")
                div(class="header item")
                    img(class="logo_home")

        div(class="ui centered grid")
            div(class="layer_bg box")
                div(class="one column sign-in-panel")
                    h2(class="layer_bg ui dividing inverted header blue ce-font center aligned login-header") Find the professionals you need
                    div(class="ui one column centered grid sign-in-buttons")
                    div(class="row")
                        label Sing in if you already have an account...
                    a(class="gwt-Anchor ui icon massive linkedin button")
                        i(class="linkedin icon")
                    a(class="gwt-Anchor ui icon massive google plus button pop")
                        i(class="google icon")
                    a(class="ui icon massive black button")
                        i(class="github icon")
                    a(class="ui icon massive facebook button pop")
                        i(class="facebook icon")


    //div(class="layer_bg")
    //    div(class="one column sign-in-panel")
    //        h2(class="ui dividing inverted header blue ce-font center aligned login-header") Find the professionals you need
    //        div(class="ui one column centered grid sign-in-buttons")
    //        div(class="row")
    //            label Sing in if you already have an account...
    //        a(class="gwt-Anchor ui icon massive linkedin button")
    //            i(class="linkedin icon")
    //        a(class="gwt-Anchor ui icon massive google plus button pop")
    //            i(class="google icon")
    //        a(class="ui icon massive black button")
    //            i(class="github icon")
    //        a(class="ui icon massive facebook button pop")
    //            i(class="facebook icon")
