doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
        link(rel='stylesheet', href='bower_components/semantic/dist/semantic.min.css')
        link(rel='stylesheet', href='bower_components/chartist/dist/chartist.min.css')
        link(rel='stylesheet', href='/stylesheets/ce_profile.css')
        link(rel='stylesheet', href='/stylesheets/ce_common.css')
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/chartist/dist/chartist.min.js")
    body
        block content
