extends ce_layout

block content
    include ce_sidebar
    include ce_navbar
    div(class="ui stackable centered grid container body-content")
        div(class="ui inverted ce-font-color ce-submenu black borderless menu fluid")
            a(class="item") Personal Information
            a(class="item") Edit Profile
            div(class="item right floated")
                i(class="unhide large icon")
                label views
                div(class="ui left pointing blue basic label") 207
        div(class="eleven wide column ce-segments")
            div(class="ui grid stackable")
                div(class="ten wide column")
                    div(class="ui ce-color grey segment ce-header-info")
                        img(class="ui small circular image profile-avatar", src="/images/neutrino.png")
                        div(class="basic-info")
                            a(class="ce-font username") aNeutrino
                            div(class="text-info ce-font")
                                div
                                    i(class="alarm icon")
                                    label Software Engineer
                                div
                                    i(class="at icon")
                                    label piotr.modrzyk@gmail.com
                                div
                                    i(class="calendar outline icon")
                                    label CE Date: Feb 28, 2016
                                div
                                    i(class="marker icon")
                                    label La Habana, Cuba
                        div(class="button-info")
                            div
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 60
                            div
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork inverted icon")
                                    a(class="ui blue left pointing blue label") 25
                //div(class="six wide column")
                //    div(class="ui ce-color grey segment")
                //        a(class="ui grey ribbon label")
                //            i(class="newspaper large black icon")
                //            label(class="ce-font") Last Activities

                div(class="six wide column")
                    div(class="ui ce-color grey segment ce-header-info")
                        a(class="ui grey ribbon label")
                            i(class="check circle large black icon")
                            label(class="ce-font") Occupations
                        div(class="m-top2 positions-panel")
                            div(class="position-item")
                                a(class="gwt-Anchor ce-font-color") Software Engineer
                                label(class="ce-font") at Aleph Engineering
                                div(class="gwt-Label ce-font small-description ce-separated-description") Aleph http://aleph.engineering/
                                div(class="gwt-Label ce-font small-description") Feb 2016 - Present

            div(class="ui ce-color grey segment")
                a(class="ui grey ribbon label")
                    i(class="user large black icon")
                    label(class="ce-font") Summary
                p(class="ce-font white m-top2") El mio que clases ganas de matar la morronga esta.... Pero ya casi cojoooone!!!
            div(class="ui ce-color grey segment")
                a(class="ui grey ribbon label")
                    i(class="code large black icon")
                    label(class="ce-font") Repositories
                div(class="github-repository m-top2")
                    div(class="ui relaxed divided animated list ce-font")
                        div(class="item")
                            div(class="right floated content")
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="unhide grey icon")
                                    a(class="ui left pointing blue label") 2
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 0
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork grey icon")
                                    a(class="ui left pointing blue label") 1
                            i(class="large github middle aligned icon")
                            div(class="content")
                                a(class="header") reFucktor/hatrick
                                div(class="description ce-font white") Interactive virtual futbol game
                                div(class="small-description") Updated 10 mins ago
                        div(class="item")
                            div(class="right floated content")
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="unhide grey icon")
                                    a(class="ui left pointing blue label") 2
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 0
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork grey icon")
                                    a(class="ui left pointing blue label") 1
                            i(class="large github middle aligned icon")
                            div(class="content")
                                a(class="header") reFucktor/incubator_depoloyer
                                div(class="description ce-font white") NodeJS application to deploy inCubator project from fjfj.pl
                                    div(class="small-description") Updated 10 mins ago
                        div(class="item")
                            div(class="right floated content")
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="unhide grey icon")
                                    a(class="ui left pointing blue label") 2
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 0
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork grey icon")
                                    a(class="ui left pointing blue label") 1
                            i(class="large github middle aligned icon")
                            div(class="content")
                                a(class="header") reFucktor/aleph_apps
                                div(class="description ce-font white") NodeJs application for incubator Prototypes, send sms and more funny stuff
                                    div(class="small-description") Updated 10 mins ago
                        div(class="item")
                            div(class="right floated content")
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="unhide grey icon")
                                    a(class="ui left pointing blue label") 2
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 0
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork grey icon")
                                    a(class="ui left pointing blue label") 1
                            i(class="large github middle aligned icon")
                            div(class="content")
                                a(class="header") reFucktor/aleph_apps
                                div(class="description ce-font white") NodeJs application for incubator Prototypes, send sms and more funny stuff
                                    div(class="small-description") Updated 10 mins ago
                        div(class="item")
                            div(class="right floated content")
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="unhide grey icon")
                                    a(class="ui left pointing blue label") 2
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 0
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork grey icon")
                                    a(class="ui left pointing blue label") 1
                            i(class="large github middle aligned icon")
                            div(class="content")
                                a(class="header") reFucktor/aleph_apps
                                div(class="description ce-font white") NodeJs application for incubator Prototypes, send sms and more funny stuff
                                    div(class="small-description") Updated 10 mins ago
                        div(class="item")
                            div(class="right floated content")
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="unhide grey icon")
                                    a(class="ui left pointing blue label") 2
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 0
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork grey icon")
                                    a(class="ui left pointing blue label") 1
                            i(class="large github middle aligned icon")
                            div(class="content")
                                a(class="header") reFucktor/aleph_apps
                                div(class="description ce-font white") NodeJs application for incubator Prototypes, send sms and more funny stuff
                                    div(class="small-description") Updated 10 mins ago
                        div(class="item")
                            div(class="right floated content")
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="unhide grey icon")
                                    a(class="ui left pointing blue label") 2
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 0
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork grey icon")
                                    a(class="ui left pointing blue label") 1
                            i(class="large github middle aligned icon")
                            div(class="content")
                                a(class="header") reFucktor/aleph_apps
                                div(class="description ce-font white") NodeJs application for incubator Prototypes, send sms and more funny stuff
                                    div(class="small-description") Updated 10 mins ago
                        div(class="item")
                            div(class="right floated content")
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="unhide grey icon")
                                    a(class="ui left pointing blue label") 2
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="star yellow icon")
                                    a(class="ui left pointing blue label") 0
                                div(class="ui small labeled button ce-font", tabindex="0")
                                    div(class="ui black button")
                                        i(class="fork grey icon")
                                    a(class="ui left pointing blue label") 1
                            i(class="large github middle aligned icon")
                            div(class="content")
                                a(class="header") reFucktor/aleph_apps
                                div(class="description ce-font white") NodeJs application for incubator Prototypes, send sms and more funny stuff
                                    div(class="small-description") Updated 10 mins ago
        div(class="five wide column ce-segments")
            div(class="ui ce-color grey segment")
                a(class="ui grey ribbon label")
                    i(class="announcement large black icon")
                    label(class="ce-font") Invitations
                div(class="m-top2")
                    div(class="ui small labeled button ce-font", tabindex="0")
                        div(class="ui black button")
                            i(class="inbox grey icon")
                            label Available Invitations
                        a(class="ui left pointing blue label") 10
                div(class="m-top1 m-bottom3")
                    div(class="ui small labeled button ce-font", tabindex="0")
                        div(class="ui black button")
                            i(class="external grey icon")
                            label Sent Invitations
                        a(class="ui left pointing blue label") 0
                button(class="ui button ce-font ce-btn ce-corner-btn" id="openInvitationModal")
                    i(class="send blue icon")
                    label Invite
            div(class="ui ce-color grey segment")
                a(class="ui grey ribbon label")
                    i(class="pie chart large black icon")
                    label(class="ce-font") Profile Completion
                div(class="ui centered grid m-top1")
                    div(class="icons-column")
                        div(class="icon-container ce-github-bg-light disable")
                            i(class="ce-github-bg bordered github icon")
                        div(class="icon-container ce-linkedin-bg-light")
                            i(class="ce-linkedin-bg bordered linkedin icon")
                        div(class="icon-container ce-google-bg-light")
                            i(class="ce-google-bg bordered google plus icon")
                        div(class="icon-container ce-facebook-bg-light")
                            i(class="ce-facebook-bg bordered facebook icon")
                    div(class="lines-column")
                        div(class="line ce-github-bg")
                        div(class="line ce-linkedin-bg")
                        div(class="line ce-google-bg")
                        div(class="line ce-facebook-bg")
                    div(class="chart-column")
                        div(class="ct-chart")
            div(class="ui ce-color grey segment")
                a(class="ui grey ribbon label")
                    i(class="wizard large black icon")
                    label(class="ce-font") Skills
                div(class="skill-container m-top2 ce-font")
                    div(class="ui label") javascript
                    div(class="ui label") java
                    div(class="ui label") c#
                    div(class="ui label") django
                    div(class="ui label") linux
                    div(class="ui label") kisses
                    div(class="ui label") nodejs
                    div(class="ui label") meteor
                    div(class="ui label") sails
                    div(class="ui label") ruby
                    div(class="ui label") rails
                    div(class="ui label") gwt
                    div(class="ui label") python
                    div(class="ui label") html5
                    div(class="ui label") css3
                    div(class="ui label") jquery
                    div(class="ui label") knockout
                    div(class="ui label") underscore
            div(class="ui ce-color grey segment")
                a(class="ui grey ribbon label")
                    i(class="check circle large black icon")
                    label(class="ce-font") Positions
                div(class="m-top2 positions-panel")
                    div(class="position-item")
                        a(class="ce-font-color") Lead Developer
                        label(class="ce-font") at Aleph Engineer
                    div(class="position-item")
                        a(class="ce-font-color") Senior GWT Developer
                        label(class="ce-font") at Aleph Engineer
                    div(class="position-item")
                        a(class="ce-font-color") Senior Javascript Developer
                        label(class="ce-font") at Aleph Engineer
                    div(class="position-item")
                    hr(class="ce-color grey")
    include ce_footer
    script(src="/javascripts/ce_profile.js")

