extends layout

block content
    form(method="POST", action="/login")
        input(type='text', name='username', placeholder='username')
        input(type='password', name='password', placeholder='password')
        input(type='submit', value="Login")
        a(href='/auth/facebook/') Facebook
    br
    if (message.length > 0)
        p= message
