@media only screen and  (min-width: 1601px) {
    .ui.grid.container {
        width: calc(1560px + 2rem) !important;
    }
    .ui.container{
        width: 1560px !important;
    }

    .header.item > img.ce_logo{
        content: url("../images/logo_blue_ext.svg")!important;
        width: 14em!important;
    }
    .profile-completion-chart{
        height: 15rem;
    }
    .ct-chart{
        padding-top: 3em;
    }
}
@media (min-width: 1201px) and (max-width: 1600px){
    .profile-completion-chart{
        height: 10rem;
        margin-top: 30%;
    }
    .ct-chart{
        padding-top: 3em;
    }
    .header.item > img.ce_logo{
        content: url("../images/logo_blue_ext.svg")!important;
        width: 13em!important;
    }

}

@media (min-width: 993px) and (max-width: 1200px) {
    .profile-completion-chart{
        height: 8rem;
        margin-top: 50%;
    }
    .header.item > img.ce_logo{
        content: url("../images/logo_blue_ext.svg")!important;
        width: 13em!important;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .profile-completion-chart{
        height: 8rem;
        margin-top: 50%;
    }
    .ce-submenu{
        display: none;
    }
}
@media (max-width: 768px) {
    .ce-navbar-menu .username,
    .ce-navbar-menu .locale-link{
        display: none!important;
    }
    .navbar-avatar-container .navbar-avatar{
        height: 40px;
        width: 40px;
    }
    .navbar-avatar-container i.icon{
        font-size: .8rem;
        left: 8px;
        bottom: 8px;
    }
    .profile-completion-chart{
        height: 11.5rem;
        margin-top: 10%;
    }
    .ce-header-info .profile-avatar{
        width: 120px!important;
        height: 120px!important;
    }
    .basic-info{
        padding-left: .8em!important;
    }
    .ce-font,
    .ce-font-color{
        font-size: .85em!important;
    }
    .button-info{
        position: inherit;
        margin-top: 2.5em!important;
        text-align: center;
        -webkit-box-align: center;
        -moz-box-align: center;
    }
    .button-info > div{
        display: inline-flex!important;
        margin-right: 2em;
    }
    .labeled.button > .button{
        padding: .5em .9em!important;
    }
    .header.item > img.ce_logo{
        content: url("../images/logo_blue.svg")!important;
        width: 10em!important;
        max-height: 3em;
    }
    .github-repository .right.floated .labeled.button{
        display: none;
    }
    .ct-chart{
        padding-top: 2.5em;
    }
}

@font-face {
    font-family: Consolas;
    src: url("../fonts/consola.ttf"), local("Consolas");
}

body, .pusher{
    background: url("../images/dot.png")!important;
}

.m-top1{ margin-top: 1em!important; }
.m-top2{ margin-top: 1.5em!important; }
.m-top3{ margin-top: 2em!important; }
.m-top4{ margin-top: 2.5em!important; }
.m-top5{ margin-top: 3em!important; }

.m-bottom1{ margin-bottom: 1em!important; }
.m-bottom2{ margin-bottom: 1.5em!important; }
.m-bottom3{ margin-bottom: 2em!important; }
.m-bottom4{ margin-bottom: 2.5em!important; }
.m-bottom5{ margin-bottom: 3em!important; }

.body-content {
    margin-top: 5em!important;
}


.ce-font, .ce-font *:not(.icon){
    font-family: Consolas, serif !important;
    font-weight: 600!important;
}
.ce-font-color *:not(.icon), .ce-font-color{
    font-family: Consolas, serif !important;
    color: #4183c4!important;
    font-weight: 600!important;
}

.ce-font.white{
    color: rgb(255, 255, 255)!important;
}
.ce-font.blue{
    color: #4183c4!important;
}

.ce-color.black{
    background: rgb(0,0,0)!important;
}
.ce-color.grey{
    background: #333333!important;
}
.ce-color.white{
    background: rgb(255,255,255)!important;
}


.ce-segments .ui.segment{
    border-radius: 0!important;
    border-top: none!important;
}
.ce-btn{
    border-radius: 0!important;
    padding: .55em 1.5em!important;
}
.ce-btn *{
    vertical-align: baseline!important;
}
img.ce_logo{
    width: 14em!important;
}
.ce-linkedin-bg,
.ce-linkedin-bg > *{
    background-color: rgb(35,140,220)!important;
}
.ce-linkedin-bg-light{
    background-color: rgb(130, 185, 222) !important;
}

.ce-github-bg,
.ce-github-bg > *{
    background-color: rgb(0,0,0)!important;
}
.ce-github-bg-light{
    background-color: rgb(130,130,130)!important;
}
.ce-facebook-bg,
.ce-facebook-bg > *{
    background-color: rgb(60,90,150)!important;
}
.ce-facebook-bg-light{
    background-color: rgb(125,155,180)!important;
}
.ce-google-bg,
.ce-google-bg > *{
    background-color: rgb(220,30,30)!important;
}
.ce-google-bg-light{
    background-color: rgb(245,150,150)!important;
}
