footer{
    margin-top: 3em;
}
footer .three.column{
    box-shadow: none!important;
}
footer > .segment{
    padding-top: 2em!important;
    padding-bottom: 2em!important;
}
footer .circles-stats{
    padding-bottom: 2em!important;
}
.circles-stats .c100{
    font-size: 188px;
    width: 100%;
    background-color: transparent!important;
}
.circles-stats .c100:after{
    background-color: transparent!important;
}
.c100 .sub-text{
    font-size: 1.5rem;
    position: absolute;
    bottom: -1.8em;
    text-transform: uppercase;
    left: 25%;
}
.social-links .button{
    border-radius: 50%;
    margin-right: .7em;
    background-color: transparent;
    border: .1em solid rgb(150,150,150);
    color: rgb(150,150,150);
    font-size: 1.4rem!important;
}
.social-links .button:hover{
    background-color: rgba(100,100,100, .4);
}
.ui.embed>.placeholder{
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
