.home-panel
{
    width: 100%!important;
    height: 100%!important;
}
.home-panel > .login-grid {
    height: 100%!important;
}
.login-grid > .column{
    background-color: rgba(0,0,0,.3);
    padding: 4em 3em 5em!important;
    max-width: 500px!important;
}
.sub-text{
    margin-top: 1em;
    margin-bottom: 1em;
}
.login-grid .horizontal.divider{
    color: white;
    margin: 2.5em 0 1.5em 0!important;
}
.requesting-panel .ui.button{
    border-radius: 50%;
    background-color: transparent;
    border: .1em solid rgb(100,100,100);
    color: white;
}
.requesting-panel .ui.button:hover{
    transition: background-color .3s ease-in;
    background-color: rgb(110,110,110);
}
.terminal{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
    background-color: black;
}
.terminal .comment{
    color: rgb(120,120,120);
    font-size: .75em;
    display: block;
}
.terminal-emulator .placeholder{
    color: rgb(120,120,120);
    font-size: .75em;
}

.terminal-emulator .terminal-input{
    color: rgb(120,120,120);
    margin-left: .4em;
    background-color: transparent;
    border: none;
    font-size: .85em;
}
.terminal-emulator .terminal-input:focus,
.terminal-emulator .terminal-input::selection{
    border-color: transparent;
    box-shadow: none;
    outline: 0 none;
}
.panel-container.hided{
    display: none;
}
.video-container{
    display: none;
}
.video-container.animated{
    display: inherit;
}
.ui.embed>.placeholder{
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.header-form{
    font-size: 1.714rem!important;
}
.header-form .home-logo{
    max-width: 20%;
    float: left;
    margin-right: .8em;
}
