/*Navbar*/
.ui.top.fixed.borderless.menu{
    min-height: 6em;
    /*background-color: transparent;*/
    background: url("../images/dot.png");
}
.item > img.ui.circular.image{
    border: rgba(100,100,100,.6) .2em solid;
}
.ce-navbar-menu .pointing.top.right.dropdown .menu{
    margin-top: -1em;
    font-size: .85rem!important;
    background-color: #333333!important;
    margin-right: 1.2em;
}
.ce-navbar-menu .pointing.top.right.dropdown .menu:after{
    background-color: #333333!important;
}
.ce-navbar-menu .pointing.top.right.dropdown .menu > .item{
    color: white!important;
}
.navbar-avatar-container .navbar-avatar{
    height: 60px;
    width: 60px;
}
.navbar-avatar-container .icon{
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.navbar-avatar-container a.username{
    margin-left: .5em;
    font-size: 1.2rem;
}
.ce-navbar-menu .sidebar-link{
    display: none!important;
}
.menu .item .notification-label{
    position: absolute;
    right: 5px;
    bottom: 15px;
    font-size: .8rem;
}
.ce-submenu > .item:hover{
    background-color: transparent!important;
}

/*Sidebar*/
.sidebar{
    width: 180px;
}
.sidebar img.image{
    width: 90px!important;
    height: 90px!important;
    box-shadow: 1px 1px 8px 1px rgba(150, 150, 150, 1);
    border: 1px solid rgba(100,100,100,.8);
}
.sidebar .sidebar-avatar-container i.icon{
    position: relative;
    bottom: 1.5em;
    left: 20%;
}
.sidebar .item{
    min-height: 2.5em!important;
    padding: .7em .85em!important;
}
.sidebar .item *:not(.dropdown){
    float: left !important;
    font-size: .95rem!important;
}
.sidebar .item i.icon{
    margin-right: 1em!important;
}


.body-content{
    padding-top: 2.75em!important;
}
.ce-header-info .profile-avatar {
    width: 150px!important;
    height: 150px!important;
    border: rgba(120,120,120,.4) .25em solid;
    display: inline-flex!important;
}
.basic-info{
    display: inline-flex;
    padding-left: 2em;
}
.ce-header-info .username{
    font-size: 1.3rem!important;
    position: absolute;
    top: 1em;
}
.basic-info .text-info{
    display: block;
    font-family: Consolas;
    color: white;
    font-size: .9rem;
}
.button-info{
    position: absolute;
    right: 1em;
    bottom: 1em;
}
.button-info .labeled.button{
    margin-bottom: .4em;
}
.ui.segment .ce-corner-btn{
    right: -4px;
    bottom: -1px;
}
.ce-corner-btn{
    position: absolute;
    right: 0;
    bottom: 0;
}
.quarter-circle {
    background-color:transparent;
    height:50%;
    width: 50%;
}
.quarter-circle.top-left{
    -moz-border-radius: 150px 0 0 0;
    -webkit-border-radius: 150px 0 0 0;
    border-radius: 150px 0 0 0;
    border-top: 20px solid rgb(31,136,190);
    border-left: 20px solid rgb(31,136,190);
}
.quarter-circle.top-right{
    -moz-border-radius: 0 150px 0 0;
    -webkit-border-radius: 0 150px 0 0;
    border-radius: 0 150px 0 0;
    border-top: 20px solid rgb(222,50,30);
    border-right: 20px solid rgb(222,50,30);
}
.quarter-circle.bottom-right{
    -moz-border-radius: 0 0 150px 0;
    -webkit-border-radius: 0 0 150px 0;
    border-radius: 0 0 150px 0;
    border-right: 20px solid rgb(59,89,152);
    border-bottom: 20px solid rgb(59,89,152);
    margin-top: -5px;
}
.quarter-circle.bottom-left{
    -moz-border-radius: 0 0 0 150px;
    -webkit-border-radius: 0 0 0 150px;
    border-radius: 0 0 0 150px;
    border-left: 20px solid #000000;
    border-bottom: 20px solid #000000;
    margin-top: -5px;
}
.icons-column{
    width: 25%!important;
    padding: 0 5%!important;
}
.lines-column{
    width: 25%!important;
    padding-left: 0!important;
}
.chart-column{
    width: 45%!important;
    padding-left: 0!important;
}
.icons-column > *{
    font-size: 95%!important;
}
.icon-container{
    padding: .6rem .59rem;
    width: 100%;
    max-width: 3.5rem;
    min-width: 3rem;
    max-height: 3.5rem;
    min-height: 3rem;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.icon-container > i.icon{
    margin: 0!important;
    color: white!important;
    border-radius: 5px!important;
    box-shadow: none;
}
.line{
    max-height: 2px!important;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    height: 2px!important;
    width: 100%;
}
.positions-panel label.ce-font{
    color: white;
    margin-left: .5em;
}
.positions-panel > div.position-item{
    margin-bottom: .4em;
    font-size: .9rem;
}
.github-repository{
    overflow-y: auto;
    max-height: 21rem;
}
.github-repository .small-description{
    font-size: .8rem!important;
    color: rgb(210, 210, 210);
}
.github-repository .labeled.button{
    margin-left: .6rem;
}
.small.labeled.button > .button{
    padding: .5em .9em!important;
}
.skill-container > .label{
    margin-bottom: .5rem;
    padding: .4rem .6rem;
    background-color: rgb(205,205,205);
}

.github-serie .ct-slice-donut {
    stroke: rgb(0,0,0);
}
.linkedin-serie .ct-slice-donut{
    stroke: rgb(35,140,220);
}
.facebook-serie .ct-slice-donut{
    stroke: rgb(60,90,150);
}
.google-serie .ct-slice-donut{
    stroke: rgb(220,30,30);
}
.null-serie .ct-slice-donut{
    stroke: rgb(60, 60, 60);
}
.notifications-link .menu{
    max-width: 300px;
    overflow-x: hidden;
}
.notifications-link .menu > .item .header{
    font-size: 1.2em!important;
}
.notifications-link .menu > .item .description{
    font-size: .88em!important;
    font-weight: 300!important;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notifications-link .menu > .item > i.icon{
    vertical-align: super;
    margin-right: 1.5em!important;
}
.notifications-link .menu > .item div.content{
    display: inline-block!important;
    vertical-align: baseline!important;
}
.notifications-link .menu > .item div.content .description{
    padding-top: .45rem!important;
}

/*Modals*/
.modal-container{
    display: none;
}
.modal-container.active {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.85);
    z-index: 1000;
    left: 0;
    top: 0;
    display: inherit;
}
.modal{
    /*height: 50%;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: rgb(240,240,240);
    /*box-shadow: 0 0 0 1000em rgba(0,0,0,.85);*/
    opacity: 0;
    padding: 2rem 1.5rem;
}
.modal.active{
    animation: horizontalRotate .5s ease-in 0s 1;
    opacity: 1;
}
.modal .line{
    width: 100%;
    height: 1px!important;
    background: rgb(180,180,180);
    margin-top: .5em;
    margin-bottom: .5em;
}
.modal button.top-right-corner{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: rgb(170,170,170);
    font-size: 1.2rem!important;
    padding: .4rem;
}
.modal .header-title{
    display: inline-flex;
}
.modal .header-title > label{
    padding: .35em 1.5em;
    background-color: rgb(170,170,170);
    color: white;
    margin-left: -.6em;
    border-radius: 2px;
}
.sender-panel{
    display: flex!important;
}
.sender-panel > *{
    padding: .44em 2em!important;
    margin: 0;
}
.modal .sender-panel > input{
    margin-left: -.2em!important;
    border-radius: 0 4px 4px 0!important;
}

.modal .sender-panel > .to-email{
    background-color: rgb(120,120,120);
    color: white;
}
.modal .template-panel{
    background-color: rgb(245,245,245);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}
.modal .send-invitation-button{
    margin-top: -1.5em;
}
