.register-page{
    width: 100%!important;
    height: 100%!important;
}
.register-page > div.register-panel,
.register-page > div.register-form{
    height: 100%!important;
}
.register-panel .text-panel{
    padding: 2em 0!important;
}
.links-panel .social-link:hover::after{
    content: ' ';
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 2px;
    background: rgb(245,245,245);
    width: 0;
    text-align: center;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: growWidth;
    animation-name: growWidth;
}
@media only screen and  (min-width: 1601px) {}
@media (min-width: 1201px) and (max-width: 1600px){}
@media (min-width: 993px) and (max-width: 1200px) {}
@media (min-width: 769px) and (max-width: 992px) {}
@media (max-width: 768px) {
    .register-panel .links-panel{
        margin-top: 0;
    }
}
.register-form > .column{
    background-color: rgba(0,0,0,.3);
    padding: 2em!important;
    max-width: 900px;
}
.register-form .form{
    text-align: left;
}
.register-form img{
    border-radius: 50%;
    width: 150px!important;
    height: 150px!important;
}
.register-form .form .field input{
    border-radius: 0!important;
}
@keyframes growWidth {
    from{
        left:49%;
        width: 1%;
    }
    to{
        left: 10%;
        width: 80%;
    }
}
