.register-page{
    width: 100%!important;
    height: 100%!important;
}
.register-page > div.register-panel{
    height: 100%!important;
}
.register-panel .text-panel{
    padding: 2em 0!important;
}
.register-panel .links-panel{
    margin-top: -25%;
}
@media (max-width: 768px) {
    .register-panel .links-panel{
        margin-top: 0;
    }
}
