footer
    div(class="ui inverted vertical segment")
        div(class="ui container")
            div(class="ui stackable inverted centered equal height grid circles-stats")
                div(class='two wide column center aligned')
                    div(class='row')
                        h3(class='ui inverted header ce-font') Comunity
                        div(class='ui inverted link list')
                            a(class='item' href='#') GitHub repository
                            a(class='item' href='#') TOI
                            a(class='item' href='#') About us
                            a(class='item' href='#') Terms & Uses
                div(class='four wide column center aligned')
                    div(class='row')
                        h3(class='ui inverted header ce-font') Social links
                        div(class="social-links")
                            a(class='ui icon big button', href='#')
                                i(class='facebook icon')
                            a(class='ui icon big button', href='#')
                                i(class='github icon')
                            a(class='ui icon big button', href='#')
                                i(class='linkedin icon')
                            a(class='ui icon big button', href='#')
                                i(class='google plus icon')
                div(class='six wide column')
                    div(class='ui grid stackable two column equal width')
                        div(class='column')
                            div(class="ui embed" data-source="youtube" data-id="D3RSv0vAvT4" data-placeholder="/images/logo_blue_ext.svg")
                        div(class='column')
                            div(class="ui embed" data-source="youtube" data-id="D3RSv0vAvT4" data-placeholder="/images/logo_blue_ext.svg")

                //div(class="three wide column ui center aligned")
                //    div(class="c100 p0 row" data-percent="0")
                //        span(class="ce-font total-users" data-total="80") 80
                //        div(class="slice")
                //            div(class="bar")
                //            div(class="fill")
                //        div(class="sub-text ce-font")
                //            label users
                //div(class="three wide column")
                //    div(class="c100 p0" data-perc="0")
                //        span(class="ce-font total-hired" data-total="100") 120
                //        div(class="slice")
                //            div(class="bar")
                //            div(class="fill")
                //        div(class="sub-text ce-font")
                //            label hired
                //div(class="three wide column")
                //    div(class="c100 p0" data-perc="0")
                //        span(class="ce-font total-teams" data-total="190") 350
                //        div(class="slice")
                //            div(class="bar")
                //            div(class="fill")
                //        div(class="sub-text ce-font")
                //            label teams
                //div(class="three wide column")
                //    div(class="c100 p0" data-perc="0")
                //        span(class="ce-font total-visits" data-total="88") 360
                //        div(class="slice")
                //            div(class="bar")
                //            div(class="fill")
                //        div(class="sub-text ce-font")
                //            label visits
            div(class="ui inverted section divider")
            div(class="ui center aligned container")
                label(class="inverted text grey ce-font") This is a Free and Open Source Platform under MIT License
    link(rel='stylesheet', href='/stylesheets/circle.css')
    link(rel='stylesheet', href='/stylesheets/ce_footer.css')
    script(src="/javascripts/ce_footer.js")
