div(class="ui top fixed borderless menu")
    div(class="ui container")
        div(class="header item")
            img(class="ce_logo", src="")
        div(class="right menu ce-navbar-menu")
            a(class='item ce-font blue' href='/ce/home') Home
            a(class='item ce-font blue' href='/ce/register') Register
            a(class='item ce-font blue' href='/ce/users') Users
            div(class="item navbar-avatar-container")
                img(class="ui circular image navbar-avatar", src="/images/refucktor_avatar.png")
                i(class="bordered inverted blue facebook icon")
                a(href='#', class="ce-font username") reFucktor
            a(class="ui pointing top right dropdown link item notifications-link")
                i(class="alarm large blue icon")
                div(class="ui ce-color black circular label notification-label ce-font") +99
                div(class="menu")
                    div(class="item ce-font")
                        i(class="mail icon")
                        div(class="content")
                            div(class="header ce-font blue") Your received new email
                            div(class="description") HI refucktor I would like to be part of your network
                    div(class="item ce-font")
                        i(class="mail icon")
                        div(class="content")
                            div(class="header ce-font blue") Your received new email
                            div(class="description") HI refucktor I would like to be part of your network
                    div(class="item ce-font")
                        i(class="mail icon")
                        div(class="content")
                            div(class="header ce-font blue") Your received new email
                            div(class="description") HI refucktor I would like to be part of your network
                            div(class="small-description")
            a(class="ui pointing top right dropdown link item locale-link")
                i(class="world large blue icon")
                div(class="ui ce-color black label notification-label ce-font") en
                div(class="menu")
                    div(class="item ce-font white")
                        i(class="cu flag")
                        span(class="text") Spanish
                    div(class="item ce-font white")
                        i(class="us flag")
                        span(class="text") English
            a(class="item logout-link")
                i(class="sign out large blue icon")
                div(class="ui ce-color black label notification-label ce-font") logout
            a(class="item sidebar-link")
                i(class="sidebar inverted large icon")
