div(class="ui middle aligned center aligned grid register-form four column stackable container")
    div.column
        form(class='ui form ce-font')
            div(class='field')
                label Username *
                input(type='text' name='username' placeholder="Username")
            div(class='field')
                label Email *
                input(type='email' name='email' placeholder="Email")
            div(class='field')
                label Username
                input(type='text' name='username' placeholder="Username")

