extends ce_layout

block content
    include ce_sidebar
    include ce_navbar
    div(class="ui grid container body-content")
        div(class="column row")
            div(class="ce-cards-pack")
                div(class="ce-card")
                    div(class="image")
                        img(src="/images/neutrino.png")
                    div(class="content ce-color grey")
                        a(href='#' class="ce-font-color username") refucktor
                        div(class="ce-font information")
                            div
                                i(class="alarm icon")
                                label Software Engineer
                            div
                                i(class="at icon")
                                label piotr.modrzyk@gmail.com
                            div
                                i(class="calendar outline icon")
                                label CE Date: Feb 28, 2016
                            div
                                i(class="marker icon")
                                label La Habana, Cuba
                        div(class="status ce-font")
                            a(class="ui tiny green tag label") Free
                div(class="ce-card")
                    div(class="image")
                        img(src="/images/neutrino.png")
                    div(class="content ce-color grey")
                        a(href='#' class="ce-font-color username") refucktor
                        div(class="ce-font information")
                            div
                                i(class="alarm icon")
                                label Software Engineer
                            div
                                i(class="at icon")
                                label piotr.modrzyk@gmail.com
                            div
                                i(class="calendar outline icon")
                                label CE Date: Feb 28, 2016
                            div
                                i(class="marker icon")
                                label La Habana, Cuba
                        div(class="status ce-font")
                            a(class="ui tiny red tag label") Hired
                div(class="ce-card")
                    div(class="image")
                        img(src="/images/neutrino.png")
                    div(class="content ce-color grey")
                        a(href='#' class="ce-font-color username") refucktor
                        div(class="ce-font information")
                            div
                                i(class="alarm icon")
                                label Software Engineer
                            div
                                i(class="at icon")
                                label piotr.modrzyk@gmail.com
                            div
                                i(class="calendar outline icon")
                                label CE Date: Feb 28, 2016
                            div
                                i(class="marker icon")
                                label La Habana, Cuba
                        div(class="status ce-font")
                            a(class="ui tiny green tag label") Free
                div(class="ce-card")
                    div(class="image")
                        img(src="/images/neutrino.png")
                    div(class="content ce-color grey")
                        a(href='#' class="ce-font-color username") refucktor
                        div(class="ce-font information")
                            div
                                i(class="alarm icon")
                                label Software Engineer
                            div
                                i(class="at icon")
                                label piotr.modrzyk@gmail.com
                            div
                                i(class="calendar outline icon")
                                label CE Date: Feb 28, 2016
                            div
                                i(class="marker icon")
                                label La Habana, Cuba
                        div(class="status ce-font")
                            a(class="ui tiny blue tag label") Waiting
                div(class="ce-card")
                    div(class="image")
                        img(src="/images/neutrino.png")
                    div(class="content ce-color grey")
                        a(href='#' class="ce-font-color username") refucktor
                        div(class="ce-font information")
                            div
                                i(class="alarm icon")
                                label Software Engineer
                            div
                                i(class="at icon")
                                label piotr.modrzyk@gmail.com
                            div
                                i(class="calendar outline icon")
                                label CE Date: Feb 28, 2016
                            div
                                i(class="marker icon")
                                label La Habana, Cuba
                        div(class="status ce-font")
                            a(class="ui tiny red tag label") Hired
                            a(class="ui tiny blue tag label") Waiting
                div(class="ce-card")
                    div(class="image")
                        img(src="/images/neutrino.png")
                    div(class="content ce-color grey")
                        a(href='#' class="ce-font-color username") refucktor
                        div(class="ce-font information")
                            div
                                i(class="alarm icon")
                                label Software Engineer
                            div
                                i(class="at icon")
                                label piotr.modrzyk@gmail.com
                            div
                                i(class="calendar outline icon")
                                label CE Date: Feb 28, 2016
                            div
                                i(class="marker icon")
                                label La Habana, Cuba
                        div(class="status ce-font")
                            a(class="ui tiny red tag label") Hired
                            a(class="ui tiny blue tag label") Waiting
                div(class="ce-card")
                    div(class="image")
                        img(src="/images/neutrino.png")
                    div(class="content ce-color grey")
                        a(href='#' class="ce-font-color username") refucktor
                        div(class="ce-font information")
                            div
                                i(class="alarm icon")
                                label Software Engineer
                            div
                                i(class="at icon")
                                label piotr.modrzyk@gmail.com
                            div
                                i(class="calendar outline icon")
                                label CE Date: Feb 28, 2016
                            div
                                i(class="marker icon")
                                label La Habana, Cuba
                        div(class="status ce-font")
                            a(class="ui tiny green tag label") Free
                div(class="ce-card")
                    div(class="image")
                        img(src="/images/neutrino.png")
                    div(class="content ce-color grey")
                        a(href='#' class="ce-font-color username") refucktor
                        div(class="ce-font information")
                            div
                                i(class="alarm icon")
                                label Software Engineer
                            div
                                i(class="at icon")
                                label piotr.modrzyk@gmail.com
                            div
                                i(class="calendar outline icon")
                                label CE Date: Feb 28, 2016
                            div
                                i(class="marker icon")
                                label La Habana, Cuba
                        div(class="status ce-font")
                            a(class="ui tiny red tag label") Hired
                            a(class="ui tiny blue tag label") Waiting
    include ce_footer
